@media (max-width: 1200px) {
    .container {
        max-width: 850px;
    }
    .advantages__item {
        width: 260px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 90%;
    }
    .promo {
        width: 100%;
        min-height: 500px;
        padding: 15px 0 30px 0;
        &__header {
            font-size: 35px;
        }
        &__subheader {
            margin-top: 10px;
            font-size: 20px;
        }
        &__wrapper {
            margin-top: 60px;
        }
        &__icons {
            margin-top: 40px;
        }
    }
    .button_main {
        margin-top: 30px;
    }
    .advantages {
        min-height: 400px;
        padding: 40px 0 35px 0;
        &__item {
            width: 220px;
        }
        &__wrapper {
            padding-top: 30px;
        }
        &__header {
            font-size: 25px;
        }
    }
    .consultation {
        min-height: 500px;
        padding: 50px 0 50px 0;
        &__desc {
            font-size: 18px;
        }
    }
    .title_left {
        font-size: 30px;
        line-height: 40px;
    }
    .carousel {
        padding: 80px 0;
        &__inner {
            width: 700px;
        }
        button {
            display: none;
        }
    }
    .reviews {
        &__item {
            img {
                margin-right: 40px;
            }
        }
        &__text {
            width: 485px;
        }
    }
}
@media (max-width: 767px) {
    .header__official {
        display: none;
    }
    .promo{
        &__wrapper {
            align-items: center;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
        &__item {
            width: 350px;
            margin-top: 35px;
        }
        &__title {
            margin-top: 20px;
        }
    }
    .consultation {
        min-height: 400px;
        &__desc {
            font-size: 18px;
        }
    }
    .title_left {
        font-size: 24px;
        line-height: 30px;
    }
}
@media (max-width: 675px) {
    .catalog-item {
        margin: 0 auto;
    }
    .reviews {
        &__item {
            img {
                margin-right: 30px;
            }
        }
        &__text {
            width: 90%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 575px) {
    .title {
        font-size: 25px;
    }
    .header {
        a {
            width: 160px;
            img {
                width: 100%;
            }
        }
        &__phone {
            font-size: 15px;
        }
        &__contacts {
            button {
                width: 150px;
                height: 25px;
                font-size: 10px;
            }
        }
    }
    .promo {
        min-height: 450px;
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 20px;
            line-height: 20px;
        }
        &__subheader {
            font-size: 15px;
            text-align: center;
        }
        &__icons {
            width: 300px;
        }
        &__icon {
            font-size: 10px;
            line-height: 10px;
        }
        .button_main {
            width: 250px;
            height: 40px;
            font-size: 13px;
        }
    }
    .advantages {
        &__header {
            font-size: 20px;
        }
        &__item {
            width: 300px;
        }
    }
    .consultation {
        &__desc {
            width: 300px;
            font-size: 15px;
        }
    }
    .title_left {
        font-size: 18px;
        line-height: 30px;
    }
    .feed-form {
        width: 290px;
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            margin-top: 20px;
        }
        &__tab {
            margin-top: 15px;
            width: 200px;
            height: 45px;
            font-size: 15px;
        }
    }
    .reviews {
        &__item {
            margin-top: 40px;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            img {
                margin: 0 auto;
            }
        }
        &__title {
            margin-top: 20px;
        }
    }
    .footer {
        &__info {
            width: 360px;
            height: 200px;
            padding: 30px 38px 30px 38px;
        }
        &__address {
            font-size: 15px;
            margin-bottom: 23px;
        }
        &__phone {
            font-size: 15px;
            margin-bottom: 23px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 23px;
                &:hover {
                    height: 23px;
                }
            }
        }
    }
    .modal {
        width: 260px;
        padding: 20px;
        &__close {
            right: -28px;
        }
    }
    .feed-form {
        width: 217px;
    }
}

@media (max-width: 320px) {
    .footer {
        height: 450px;
        &__info {
            width: 260px;
            height: 170px;
            padding: 20px 15px 15px 15px;
        }
        &__address {
            font-size: 14px;
            margin-bottom: 20px;
        }
        &__phone {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
}